@*////////////////////////////////////////////////////////////////
// Index.cshtml - View to render the homepage for the website   //
//                                                              //
// Omkar Buchade, CSE686 - Internet Programming, Spring 2019    //
////////////////////////////////////////////////////////////////*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>This is a eBook reading website. Please select books from the navigation window on the left side to get started! </p>

</div>
